#logoNav {
  /* Estilos para el elemento con ID "logoNav" */
  width: 65px;
  height: auto;
}

/* .img {
    width: 0px;
    height: 200px;
    flex-grow: 1;
    object-fit:cover;
    opacity: .8;
    transition: .5s ease;
}

.carousel {
    position: relative;
}

.carousel img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter:contrast(120%);
}

.sinopsis {
    position: absolute;
    
} */
