#logoNav {
  /* Estilos para el elemento con ID "logoNav" */
  width: 65px;
  height: auto;
}
.img{
  height: 100vh;
  background-image:url("https://1.bp.blogspot.com/-2l-99Qyd1K8/UmeNEO_FaWI/AAAAAAAAl8Y/vxYBA4cQ1lM/s1600/thor-2-mundo-oscuro-posters-todos.jpg");
}
