*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.principal{
    /* color: white; */
    background-image: url(../assets/img/desarrollador.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 50vh;

}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

.caracteristicas{
    background-color: rgb(208, 219, 235);
}

.imgPrincipales{
    border-radius: 50%;
}

.cards-iconos{
    width: 80px;
    border: none;
}

.cards-integrantes{
    width: 400px;
    /* height: 500px; */
}