<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" / />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" / />
    <link
     
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
     
      rel="stylesheet"
     
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
     
      crossorigin="anonymous"
    /
    />
    <link rel="stylesheet" href="/style/style.css" / />
    <title>Document</title>
    </head>
    <body>
        <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Peliculas</a>
          <img src="assets/Logo.png" alt="logoNav" id="logoNav" />
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <button
                  class="nav-link active"
                  aria-current="page"
                  id="inicioButton"
                >
                  Inicio
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link active"
                  aria-current="page"
                  id="registroButton"
                >
                  Registrate
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link active"
                  aria-current="page"
                  id="loginButton"
                >
                  Login
                </button>
              </li>
              <li class="nav-item dropdown"></li>
            </ul>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>

        <main>
        <div class="container">
        <div class="peliculas-recomendadas">
            <div class="titulo-controles">
                <h3>Categoría</h3>
                <div class="indicadores"></div>
            </div>
            <div class="contenedor-ppal d-flex align-items-center position:relative ">
                <button role="button" class="" id="boton-izq"><i class="bi bi-caret-left-fill"></i</button>

                    <div class="contenedor-carousel">
                        <div class="carousel">
                            <div class="pelicula">
                                <a href="#"><img src="/assets/img/1.png" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/assets/img/2.png" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/assets/img/3.png" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/assets/img/4.png" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/assets/img/5.png" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/assets/img/6.png" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/assets/img/7.png" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <button role="button" class="boton-der" id="boton-der"><i class="bi bi-caret-right-fill"></i</button>
            </div>
        </div>
      </div>
    </main>

        <footer></footer>
    <script
     
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
     
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
     
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    ></script>
    </body>
</html>
