<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/register.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body class="body">
    <header></header>
    <main>
      <section class="form-login">
        <div class="login-box">
          <h2>Login</h2>
          <form id="loginForm">
            <div class="user-box">
              <input
                type="email"
                name="email"
                id="loginFormEmailInput"
                required
                maxlength="30"
              />
              <label>Email</label>
            </div>
            <div class="user-box">
              <input
                type="password"
                name="password"
                id="loginFormPasswordInput"
                required
                maxlength="30"
              />
              <label>Contraseña</label>
              <div class="invalid-feedback" id="invalidLoginFeedback">
                Hay un error en el mail o contraseña
              </div>
              <div id="feedbackMessage" class="feedback-message hidden"></div>
            </div>
            <button type="submit" class="styled-button">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Iniciar sesión
            </button>
            <div class="styled-button-container">
              <a href="https://www.facebook.com/" class="styled-button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Iniciar sesión con Facebook
              </a>
            </div>

            <div class="styled-button-container">
              <a href="https://www.google.com/" class="styled-button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Iniciar sesión con Google
              </a>
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer></footer>
    <script type="module" src="../js/login.js"></script>
  </body>
</html>
