<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nosotros</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style/stylesNosotros.css" />
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <header></header>
    <section
      class="principal p-4 my-2 text-white d-flex flex-column text-center flex-lg-column-reverse flex-md-column-reverse"
    >
      <div class="container-fluid">
        <h1>Quienes Somos</h1>
      </div>
    </section>
    <section class="container row mt-5">
      <div class="col-lg-6">
        <h2>Historia</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
          accusantium quisquam? Minus, numquam voluptatibus ex dolore facilis
          accusamus alias doloremque hic necessitatibus ab perferendis,
          reprehenderit eum sed! Unde qui nemo voluptates, earum nesciunt
          molestiae sequi magnam hic laboriosam fuga odit fugit saepe, ipsa rem
          nihil quas aperiam porro blanditiis itaque.
        </p>
      </div>
      <div class="col-lg-6">
        <img
          class="imgPrincipales"
          src="../assets/img/nosotrosDos.jpg"
          alt="grupo de trabajo"
        />
      </div>
    </section>
    <section class="container row m-5">
      <div class="col-lg-6">
        <img
          class="imgPrincipales"
          src="../assets/img/nosotrosDos.jpg"
          alt="grupo de trabajo"
        />
      </div>
      <div class="col-lg-6">
        <h2>Visión y Misión</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
          accusantium quisquam? Minus, numquam voluptatibus ex dolore facilis
          accusamus alias doloremque hic necessitatibus ab perferendis,
          reprehenderit eum sed! Unde qui nemo voluptates, earum nesciunt
          molestiae sequi magnam hic laboriosam fuga odit fugit saepe, ipsa rem
          nihil quas aperiam porro blanditiis itaque.
        </p>
      </div>
    </section>

    <div class="container-fluid mt-4 caracteristicas">
      <div class="card-group">
        <div class="card p-5 caracteristicas border-0">
          <img
            src="../assets/img/globo.png"
            class="card-img-top cards-iconos m-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div class="card p-5 caracteristicas border-0">
          <img
            src="../assets/img/comunidad.png"
            class="card-img-top cards-iconos m-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">COMUNIDAD</h5>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div class="card p-5 caracteristicas border-0">
          <img
            src="../assets/img/innovacion.png"
            class="card-img-top cards-iconos m-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">INNOVACIÓN</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <section class="container-fluid">
      <h2 class="text-center">Nuestro equipo de trabajo</h2>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col p-5">
          <div class="card align-items-center">
            <img
              src="../assets/img/integrante_1.jpg"
              class="card-img-top cards-integrantes"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col p-5">
          <div class="card align-items-center">
            <img
              src="../assets/img/integrante_2.jpg"
              class="card-img-top cards-integrantes"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col p-5">
          <div class="card align-items-center">
            <img
              src="../assets/img/integrante_3.jpg"
              class="card-img-top cards-integrantes"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content.
              </p>
            </div>
          </div>
        </div>
        <div class="col p-5">
          <div class="card align-items-center">
            <img
              src="../assets/img/integrante_4.jpg"
              class="card-img-top cards-integrantes"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">integrante_4</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="../js/nosotros.init.js" type="module"></script>
  </body>
  <footer></footer>
</html>
